.h1_login {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
  } 

.login_welcome {
    padding-top: 20px;
    padding-bottom: 20px;
}

.parentcontainer {
    padding: 50px;
}
.logincontainer {
    background-color: #2C2F33;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 300px;
    margin: 0 auto;
}

.buttons {
    justify-content: center;
    align-items: center;
}

.accountmessage {
    color: #FFFF;
    font-size: 12px;
    font-weight: bolder;    
}


a:link {
    color: #FFFF
}

.login_label {
    color:white;
}

.form-select {
    margin-bottom: 15px;
  }