{% extends '_layout.html' %}

{% block title %}Courses Chat{% endblock %}

{% block body %}
    {% for course in courses %}
    {% if section == course.section_id %}
    <h2>{{exam.title}} Chat</h2>
    {% endif %}
    {% endfor %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

    <div class="row text-white bg-dark-subtle">
        <div class="col-2">
            {% for course in courses %}
                {% if course.main == True %}
                    <p><a href="/courses/{{ course.section_id }}" class="card-link btn btn-primary" role="button">{{ course.title }}</a></p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-3">
            {% for course in courses %}
                {% if course.title == exam.title %}
                    {% if course.main == True %}
                        <p><a href="/courses/{{ course.section_id }}" class="card-link btn btn-success" role="button">{{ course.title }} {{course.section_id}}: Main Course Chat</a></p>
                    {% endif %}
                    {% if course.main == False %}
                        <p><a href="/courses/{{ course.section_id }}" class="card-link btn btn-secondary" role="button">{{ course.title }} {{course.section_id}}: Section Course Chat</a></p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-7" id="messages">
            {% for post in posts %}
                {% if section == post.course %}
                    {% for user in users %}
                        {% if user.person_id == post.poster %}
                            <p>{{user.user_name}}: {{post.content}}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <div class="inputs">
                <input type="text" rows="3" placeholder="Message" name="message">
                <button name="send" id="send-btn" onClick="sendMessage()">Send</button>
            </div>
        </div>
    </div>
{% endblock %}