{% extends '_layout.html' %}

{% block title %}Friends{% endblock %}

{% block body %}
    <h2>Your Friends</h2>

    <!-- Tab links -->
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="nav-link" id="defaultActive" onclick="openTab(event, 'Following')">
                Following
            </li>
            <li class="nav-link" onclick="openTab(event, 'Followers')">
                Followers
            </li>
        </ul>
    </div>
    
    <!-- Following tab -->
    <div id="Following" class="tabcontent">
        <table class="table table-hover table-sm">
            <tbody>
                {% for followee in following %}
                <tr>
                    <td>
                        <img style="height:64px;" alt="User profile image" src="https://st.depositphotos.com/2218212/2938/i/600/depositphotos_29387653-stock-photo-facebook-profile.jpg" />
                        {{followee.user_name}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Followers tab-->
    <div id="Followers" class="tabcontent">
        <table class="table table-hover table-sm">
            <tbody>
                {% for follower in followers %}
                <tr>
                    <td>
                        <img style="height:64px;" alt="User profile image" src="https://st.depositphotos.com/2218212/2938/i/600/depositphotos_29387653-stock-photo-facebook-profile.jpg" />
                        {{follower.user_name}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="nav-link" and remove "active" class
        tablinks = document.getElementsByClassName("nav-link");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add "active" class
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultActive" and click on it
        document.getElementById("defaultActive").click();
    </script>
{% endblock %}