{% extends '_layout.html' %}

{% block title %}All Courses{% endblock %}

{% block body %}
    <h2>All Courses</h2>
    <div class="container text-center">
        <div class="row align-items-start">
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img src="/static/images/com_sci_photo.png" class="card-img-top" alt="Computer Science">
                <div class="card-body">
                    <h5 class="card-title text-start text-white">ITSC 3155</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-start text-white">Software Engineering</h6>
                    <p class="card-text text-start text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/courses/specific" class="card-link">Course Chat</a>
                    <a href="/courses/specific" class="card-link">Section Chat</a>
                </div>
            </div>
            <br><br>
            <div class="card bg-dark" style="width: 18rem;">
                <img src="/static/images/com_sci_photo.png" class="card-img-top" alt="Computer Science">
                <div class="card-body">
                    <h5 class="card-title text-start text-white">ITSC 4166</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-start text-white">Network Application</h6>
                    <p class="card-text text-start text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/courses/specific" class="card-link">Course Chat</a>
                    <a href="/courses/specific" class="card-link">Section Chat</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img src="/static/images/com_sci_photo.png" class="card-img-top" alt="Computer Science">
                <div class="card-body">
                    <h5 class="card-title text-start text-white">ITSC 4221</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-start text-white">Penetration Testing</h6>
                    <p class="card-text text-start text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/courses/specific" class="card-link">Course Chat</a>
                    <a href="/courses/specific" class="card-link">Section Chat</a>
                </div>
            </div>
            <br><br>
            <div class="card bg-dark" style="width: 18rem;">
                <img src="/static/images/com_sci_photo.png" class="card-img-top" alt="Computer Science">
                <div class="card-body">
                    <h5 class="card-title text-start text-white">ITSC 4156</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-start text-white">Machine Learning</h6>
                    <p class="card-text text-start text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/courses/specific" class="card-link">Course Chat</a>
                    <a href="/courses/specific" class="card-link">Section Chat</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark" style="width: 18rem;">
                <img src="/static/images/com_sci_photo.png" class="card-img-top" alt="Computer Science">
                <div class="card-body">
                    <h5 class="card-title text-start text-white">ITSC 4180</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary text-start text-white">Mobile Application</h6>
                    <p class="card-text text-start text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/courses/specific" class="card-link">Course Chat</a>
                    <a href="/courses/specific" class="card-link">Section Chat</a>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
