{% extends '_layout.html' %}

{% block title %}Courses Chat{% endblock %}

{% block body %}
    <h2>Courses Chat</h2>
    <a href="/courses">All Courses</a>
    <!-- <p>this page is supposed to hold all the course and section chats</p>
    <p>can get to the page from the courses tab in the nav bar</p>
    <p>supposed to have all the courses on the side like discord</p>
    <p>the channels of a server are the section and course chat</p>
    <p>supposed to take you directly to a particular chat</p> -->

    <div class="message-box">
        <h2>Chat Room: {{code}}</h2>
        <div class="messages" id="messages"></div>
        <div class="inputs">
            <input type="text" rows="3" placeholder="Message" name="message" id="message">
            <button name="send" id="send-btn" onClick="sendMessage()">Send</button>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var socketio=io()
    
        const messages = document.getElementById("messages")
            
            // this saves when the message was received, not when it was sent
        const createMessage = (name, msg) => {
            const content = `
                <div class="text text-white">
                    <span>
                        <strong>${name}</strong>: ${msg}
                    </span>
                    <span class="muted">
                        ${new Date().toLocaleString()}
                    </span>
                </div>
            `
            messages.innerHTML += content
        }
    
        socketio.on("message", (data) => {
            createMessage(data.name, data.message)
        })
    
        const sendMessage = () => {
            const message = document.getElementById("message")
            if(message.value == "") return
            socketio.emit("message",{data: message.value})
            message.value = ""
        }
    </script>
    
    {% for msg in messages %}
        <script type="text/javascript">
            createMessage("{{msg.name}}","{{msg.message}}")
        </script>
    {% endfor %}

    <div class="row text-white bg-dark-subtle">
        <div class="col-2">
            <!-- This is supposed to have the icons for the courses -->
            <p>for each course i need to grab the image for the course and make that image a link to the course chat</p>
        </div>
        <div class="col-3">
            <!-- this is supposed to have the channels for the courses -->
            <p>link to the section chat</p>
            <p>link to the course chat</p>
            <p>link to other chats on the course page</p>
        </div>
        <div class="col-6">
            <!-- this is supposed to have the messages for the current channel. adding more info to see how long this column is -->
            <p>messages for the chat</p>
        </div>
        <div class="col-1">
            <!-- this is supposed to have the people active in the course at that moment -->
            <h3>Online</h3>
            <p>online person</p>
            <p>online person</p>
            <h3>Offline</h3>
            <p>offline person</p>
            <p>offline person</p>
        </div>
    </div>
{% endblock %}