{% extends '_layout.html' %}

{% block title %}Join Course/Section{% endblock %}

{% block body %}

{% if session.user %}
<div class="container text-center">
    <div class="row">
        <div class="col-8 justify-content-center align-items-center">
            <div class="text-bg-secondary p-3" class="position-absolute top-50 start-50 translate-middle" style="background-color:#2C2F33;">
                <p style="font-size: xx-large; text-align: center; margin-bottom:25px;">Join a <strong>course</strong></p>
                <div class="input-group justify-content-center">
                    <form action="/join" method="post">
                        <input type="text" class="form-control" name ="join-class" id="join-class" class="justify-content-center mx-auto" aria-describedby="inputGroup" placeholder="ITSC 3155 or MATH 1246">
                        <button type="submit" class="btn btn-primary">Join</button>
                    </form>
                    {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" div="col-md-12"role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="text-bg-secondary p-3" class="position-absolute top-50 start-50 translate-middle" style="background-color:#2C2F33;">
                <p style="font-size:xx-large; text-align:center;">Your classes</p>
                {% for class in courses %}
                <div>
                    <p>{{ class.title }}</p><br>
                </div>
                {%endfor%}

            </div>
        </div>
    </div>
</div>
{% else %}


{% endif %}

{% endblock %}