{% extends '_layout.html' %}

{% block title %}Join University | Join Course/Section{% endblock %}

{% block body %}

<div class="text-bg-secondary p-3" style="background-color:#2C2F33; width:955px; height: 150px; margin-top:150px; margin-left:150px">
    <p style="font-size: xx-large; text-align: center; margin-bottom:25px;">Enter your <strong>school</strong> to get started</p>
    <div class="input-group input-group-sm">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        <span class="input-group-text" id="inputGroup-sizing-sm">Join</span>
    </div>
</div>

{% endblock %}